[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

[versions]
plone.testing = 7.0.1
collective.recipe.vscode = >=0.1.6

# Added by buildout at 2020-11-04 13:54:37.933480
collective.recipe.vscode = 0.1.6
createcoverage = 1.5
keyring = 21.4.0
pathtools = 0.1.2
prompt-toolkit = 1.0.18
watchdog = 0.10.3

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.2.5
